<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>test</string>
    <key>StandardErrorPath</key>
    <string>/goinfre/local.job.err</string>
    <key>StandardOutPath</key>
    <string>/goinfre/local.job.out</string> 
    <key>ProgramArguments</key>
    <array>
        <string>bash</string>
        <string>-l</string>
        <string>-c</string>
        <string>if [ "`git -C ~/.murmurbox/ remote get-url origin 2&gt;&amp;1`" != "https://github.com/murmurlab/scripts.git" ]; then 
            (
                rm -rf ~/.murmurbox #&gt;&amp; /dev/null;
                git clone https://github.com/murmurlab/scripts.git ~/.murmurbox #&gt;&amp; /dev/null;
                bash ~/.murmurbox/murmurbox.bash u
            );
        else
            (
                git -C ~/.murmurbox/ fetch #&gt;&amp; /dev/null;
                git -C ~/.murmurbox/ reset --hard origin/master #&gt;&amp; /dev/null;
                git -C ~/.murmurbox/ switch master #&gt;&amp; /dev/null;
                bash ~/.murmurbox/murmurbox.bash u;
            );
        fi</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
